body{
    font-family: Arial, sans-serif;
    font-size: 15px;
	background-color: #e8feff !important;
}
th{
	font-size: 16px;
	background-color: #6cb8b0;
}
tr:nth-child(even) {background-color: #d0f4f5;}

tr:nth-child(odd) {background-color: #afdadb;}

.btn{
	background-color: #50a1f2 !important;
}

.btn:hover{
	background-color: #3b79b8 !important;
}